version: '3.8'
services:
  app:
    build: .
    #image: spring-monitoring:1.0
    ports:
      - "8081:8081"
  prometheus:
    image: prom/prometheus:latest
    container_name: tp8-monitoring-prometheus
    ports:
      - "9091:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
  grafana:
    image: grafana/grafana
    ports:
      - "3001:3000"